.subTitulo { 
  font-size: 2rem;
  padding: 1vw;
  text-shadow: 1px 1px white;
  text-align: center;
}

.loading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 55vh;
  text-shadow: 1px 1px white;
}