a {
  text-decoration: none;
  color: black;
}

nav {
    display: flex;
    background: rgb(57,111,66);
    background: linear-gradient(78deg, rgba(57,111,66,1) 40%, rgba(95,141,78,1) 71%, rgba(229,217,182,1) 100%); 
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 16vh;
    padding: 1.5rem;
    border-bottom: 4px solid #285430;
  }

nav h1 {
  font-size: 2.8rem;
  padding: 1.8vw;
  text-shadow: 1px 1px white;
  font-family: 'Lilita One', cursive;
  animation:tracking-in-contract 0.4s linear both} @keyframes tracking-in-contract{0%{letter-spacing:.6em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}
}

nav ul a{
  display: inline-block;
  list-style: none;
  font-weight: bold;
  margin-top: 10vh;
  padding: 1vw 1.2vw;
  font-size: 1.2rem;
  text-shadow: 0.5px 0.5px white;
  border-radius: 10px;
}

nav ul a:hover {
  background-color: rgba(95,141,78,1); 
  border: 2px solid #285430;;
  border-radius: 50px;
}

.ActiveOption{
  background-color: rgba(95,141,78,1); 
  border: 2px solid #285430;
  margin: 5px;
  border-radius: 50px;
}

