body {
  background-image: url('../public/images/Fondo-1.jpg');
  background-position: center;
  background-size: 90vh;
}


@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@100;200&family=Pacifico&family=Passion+One&display=swap');

h1 {
  font-family: 'Lilita One', cursive;
}

a {
  font-family: 'Lilita One', cursive;
  font-size: 1.2rem;
}

button {
  font-family: 'Lilita One', cursive;
}